# Python environment & cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
env/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables & IDE configs
.env
.vscode/
.idea/
.DS_Store

# Temporary scratch & log files
*.log
scratch/
